body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.imagewrapper {
    width: 65%;
    padding-bottom: 30px;
}

.ingredient {
    font-size: 12pt;
}    

.highlight {
    font-size: 12pt; 
}

.title-header {
    padding-bottom: 20px;
}

.sidebar {
    border: 6px solid rgba(87,105,164,0.89);
    height: 1200px;
    margin-top: 50px;
    overflow:auto;
}

.comment {
    text-align: left;
    font-size: 11pt;
}

.recip {
    font-family: Oswald;
    font-size: 28pt;
}

.ease {
    font-family: Lobster;
    font-size: 28pt;
}
