{% extends "base.html" %}

{% block content %}
    <div class="containter" align="left">
        <div class="imagewrapper">
            <img class="img-fluid" src={{ image_url }}>
        </div>
        <h1> Ingredient List </h1>
        {% for ingredient in ingredients %}
            {{ ingredient | safe }}
        {% endfor %}

        <h1> Instructions </h1>
        {% for step in instructions %}
            <p> {{ step | safe }} </p>
        {% endfor %}
    </div>

        <h1> Possible Modifications (sorted for most relevant) </h1>
        {% for comment in sorted_comments %}
            <p> {{ comment | safe }} </p>
        {% endfor %}
{% endblock %}
