{% extends "base.html" %}

{% block content %}
    <div class="containter" align="left">
        <h1> Ingredient List </h1>
        {% for ingredient in ingredients %}
            <p> {{ ingredient | safe }} </p>
        {% endfor %}

        <h1> Instructions </h1>
        {% for step in instructions %}
            <p> {{ step | safe }} </p>
        {% endfor %}
    </div>

        <h1> Possible Modifications (sorted for most relevant) </h1>
        {% for comment in sorted_comments %}
            <p> {{ comment }} </p>
        {% endfor %}
{% endblock %}
