{% extends "base.html" %}

{% block content %}
    <div class="row">
    <div class="col-6">
    <div class="containter" align="left">
        <div class="title-header">
            <h1> {{ title }} </h1>
        </div>
        <div class="imagewrapper">
            <img class="img-fluid" src={{ image_url }}>
        </div>
        <h1> Ingredient List </h1>
        {% for ingredient in ingredients %}
            {{ ingredient | safe }}
        {% endfor %}
        <br>
        <h1> Instructions </h1>
        {% for step in instructions %}
            <p> {{ step | safe }} </p>
        {% endfor %}
    </div>
    </div>
    <div class="col-6">
    <h2> Comments (sorted by relevant suggestions/modifications) </h2>
    <div class="sidebar">
        {% for comment in sorted_comments %}
            <p class="comment list-group-item"> {{ comment | safe }} </p>
        {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}
